<h1>Delete</h1>
<div>
    <h2>Room</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Locatie
        </dt>
        <dd class = "col-sm-10">
            {{ room.location.nameAndPlace }}
        </dd>
        <dt class = "col-sm-2">
            Naam
        </dt>
        <dd class = "col-sm-10">
            {{ room.description }}
        </dd>
        <dt class = "col-sm-2">
            Prijs
        </dt>
        <dd class = "col-sm-10">
            {{ room.priceHour }}
        </dd>
    </dl>
</div>
<form (ngSubmit)="onSubmit()" #locationForm="ngForm">
    <button type="submit">
        Delete
    </button>
</form>
<div>
    <a href="rooms">Back to List</a>
</div>
