<h2>Overzicht Locaties</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Plaats
            </th>
            <th>
                Adres
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of locations">
            <td>
                {{ location.name }}
            </td>
            <td>
                {{ location.place }}
            </td>
            <td>
                {{ location.adress }}
            </td>
            <td>
                <a href="location/details/{{ location.locationID }}">Details</a>
                Links Edit, Details, Delete
            </td>
        </tr>
    </tbody>
</table>