<h2>Overzicht Locaties</h2>
<a href="location/create">Create new</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Plaats
            </th>
            <th>
                Adres
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of locations">
            <td>
                {{ location.name }}
            </td>
            <td>
                {{ location.place }}
            </td>
            <td>
                {{ location.adress }}
            </td>
            <td>
                <a href="location/details/{{ location.locationID }}">Details</a> |
                <a href="location/update/{{ location.locationID }}">Edit</a> |
                <a href="location/delete/{{ location.locationID }}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>