<h2>Overzicht Reservaties</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Klant
            </th>
            <th>
                Locatie
            </th>
            <th>
                Datum
            </th>

            <th>
                Periode
            </th>

            <th>
                Prijs
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>
                {{ reservation.customer.fullname }}
            </td>
            <td>
                {{ reservation.room.description}}
            </td>
            <td>
                {{ reservation.date }}
            </td>
            <td>
                {{ reservation.period.hour }}
            </td>
            <td>
                {{ reservation.price }}
            </td>
            <td>
                <a href="reservation/details/{{ reservation.reservationID }}">Details</a> |
                <a href="reservation/update/{{ reservation.reservationID }}">Edit</a> |
                <a href="reservation/delete/{{ reservation.reservationID }}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
