<h2>Update Kamer</h2>
<form (ngSubmit)="onSubmit()" #roomForm="ngForm">
    <div>
        <label for="description">Naam</label><br />
        <input id="description" name="description" required [(ngModel)]="room.description" />
    </div>
    <div>
        <label for="priceHour">Prijs per uur</label><br />
        <input id="priceHour" name="priceHour" required [(ngModel)]="room.priceHour" />
    </div>
    <div>
        <label for="location">Locatie</label><br />
        <select class="form-control" id="location" required [(ngModel)]="selectedLocation" name="location">
            <option *ngFor="let location of locations" [ngValue]="location.locationID">
                {{ location.name }}
            </option>
        </select>
    </div>
    <div>
        <button type="submit">
            Submit
          </button>
    </div>
    The selected book is : {{selectedLocation | json}}
</form>