<!-- <h2>Nieuwe Kamer</h2>
<form (ngSubmit)="onSubmit()" #roomForm="ngForm">
    <p>
        <label for="description">Naam</label><br />
        <input id="description" name="description" required [(ngModel)]="room.description" />
    </p>
    <p>
        <label for="priceHour">Naam</label><br />
        <input id="priceHour" name="priceHour" required [(ngModel)]="room.priceHour" />
    </p>
   <p>
        <label for="location">Naam</label><br />
        <select id="location" name="location" required [(ngModel)]="room.location" >
    </p>
</form> -->